<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--Please Check this data-->
  <!--<add key="EmailDomen" value="itexus.com" /> 
  <add key="CompanyName" value="Itexus" />-->
</appSettings>